.nav-link {
    color: white !important;
    font-size: 24px !important;
}

.navbar {
    background-color: #6c757d;
    display: flex !important;
    justify-content: space-evenly !important;
    img{
        width: 100px;
        height: 100px;
    }
}